In [41]:
# Standard stack of imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer # used to fill missing values, fits into pipelines
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score

# this is probably the best way to import files that I have seen
import os
for dirname, _, filenames in os.walk('../raw_data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../raw_data\gender_submission.csv
../raw_data\test.csv
../raw_data\train.csv

# TITANIC PROJECT
In this project I am trying to label which passengers survived and which ones died from the data provided. I will split my programming segments into several different parts as outlined below:

In [42]:
# read in the data
train = pd.read_csv('../raw_data/train.csv')
test = pd.read_csv('../raw_data/test.csv')

In [43]:
train.shape
train.info()
train.describe()

# number of missings in each column
train.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [53]:
# first lets turn the age into ints since there are no half ages
median_age = train['Age'].dropna().median()
print(train['Age'].dropna().median())
train['Age'] = train['Age'].fillna(median_age).astype(int)

print((train['Age'].isnull().sum())) # should be 0 now
print(train['Age'].dtype) # should be int now

28.0
0
int32

In [45]:
train["Pclass"].unique() # there are 3 diffrent classes of passengers, 1st, 2nd, and 3rd class
# survived is the target variable, 1 = survived, 0 = did not survive
# sibsp is the number of siblings or spouses abroad the titanic
# parch is the number of parents or children on board
# fare is the price of the ticket
# cabin is the cabin number
# embarked is the port of where they baorded the ship, C = Cherbourg, Q = Queenstown, S = Southampton

array([3, 1, 2], dtype=int64)

In [46]:
# try to make all of this into a pipeline